<html>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
    <!-- start service -->
    <div id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="media-body wow fadeIn">
                            <h3 class="media-heading">Adventure</h3>
                            <p>The Books we provide are guarrenteed to have you on the edge of your seat. We're talking nail biting, bone chilling page turners that you cannot put down if you try go on we dare.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="media-body wow fadeIn">
                            <h3 class="media-heading">Historical</h3>
                            <p>For those who seek to learn form the past so they do not repeat we have the books for you. From the discovery of the new world to the conquest of Alexander the great history comes alive in these great tomes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                            <h3 class="media-heading">Romance</h3>
                            <p>Who among us does not desire love. These tales are proof that love exists and we all shall find it whether it is a match between two enemies or a relationship nutured since childhood. These adventures of the heart show us all the meaning of love.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
                            <i class="fa fa-html5"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                            <h3 class="media-heading">Fantasy</h3>
                            <p>A dark lord, a evil order, a demon to put down, a quest to go on, a war to avert, a war to win, magic, swords, elves, dwarves, light, dark, a true heroes journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.4s">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.3s">
                            <h3 class="media-heading">Sci-Fi</h3>
                            <p>What of the future. What heights shall we climb, what horizons will we explore, what people might we meet in th evast beyond. What great works wil we create and what mighty enemies shall we vanquish. We do not know but it we can imagine.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="media">
                        <div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="media-body wow fadeIn" data-wow-delay="0.6s">
                            <h3 class="media-heading">Mystery</h3>
                            <p>Whether it's the works of Doyle, Christie, Poe or Hemmingway. Whether it began with a cry in the dark, a gun shot, a murder or a theft, the thrill is in the chase never in the capture and nowehere will you find books that prove that better than here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end service -->
    <!-- start about -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
                    <h3>About us</h3>
                    <h4>The Mission</h4>
                    <p>Knowledge is the most precious and valuable commodity and even better it allows you to travel without ever leaving the chair, bed, carseat or home to take you to someplace infinitly better and more enjoyable than where you may find yourself.</p>
                    <p>To that end we present you with a number of titles that best express how marvelous books and reading is. How knowledge can be found in the most unlikely of places. Our mission is to make sure that no one will ever lose sight of the fact that a good story can mean all the difference in the world and that the Solution to every problem can be found in a book and they show you which path to take.</p>
                </div>
            
                
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- start team -->
    <!-- start pricing -->
    
    <!-- start portfolio -->
   
    <!-- start contact -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-delay="0.6s">
                    <h2><strong>Solution</strong> Co.</h2>
                    <p>Quisque at elit sapien. Sed velit enim, fringilla non suscipit quis, tristique et turpis. Proin vitae nisi justo.</p>
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-instagram"></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
                    <address>
                        <h3>Visit Office</h3>
                        <p><i class="fa fa-map-marker too-icon"></i> 50 Hazeldean Road, Christchurch</p>
                        <p><i class="fa fa-phone too-icon"></i> 03 377 2364</p>
                        <p><i class="fa fa-envelope-o too-icon"></i> Solotion@company.com</p>
                    </address>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end contact -->
    <!-- start google map -->
    <div class="google_map">
        <div id="map-canvas"></div>
    </div>
    <!-- end google map -->
    <!-- start footer -->
    <!-- end footer -->
    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->
    <!-- bootstrap -->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!-- isotope -->
    <!--<script src="js/isotope.js"></script>-->
    <!-- images loaded -->
    <!--<script src="js/imagesloaded.min.js"></script>-->
    <!-- wow -->
    <!--<script src="js/wow.min.js"></script>-->
    <!-- smoothScroll -->
    <!--<script src="js/smoothscroll.js"></script>-->
    <!-- jquery flexslider -->
    <!--<script src="js/jquery.flexslider.js"></script>-->
    <!-- custom -->
    <!--<script src="js/custom.js"></script>-->

</body>
</html>